body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: rgb(229, 204, 255);
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .cover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: auto;
  }

  .cover img {
    width: 100%;
    max-width: 980px;
    height: auto;
  }
  
  header nav {
    display: flex;
  }
  
  header form {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  header input[type="text"] {
    width: 250px;
    height: 35px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  header button[type="submit"] {
    width: 100px;
    height: 35px;
    margin-left: 10px;
    background-color: rgb(65, 71, 235);
    color: rgb(244, 234, 253);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }
  
  header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header li {
    margin-right: 20px;
  }
  
  header a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }
  
  main {
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
  }
  
  main h2 {
    margin: 0 0 20px 0;
    font-size: 25px;
  }
  
  main ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  main ul li a {
    text-decoration: none;
    color: black;
  }
  
  main li {
    width: 33%;
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  main img {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px auto;
  }
  
  main h3 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  main h5 {
    margin: 0;
    font-size: 14px;
    color: rgb(59, 42, 186);
    margin-bottom: 10px;
  }
  
  main #instructions{
    margin-bottom: 20px;
  }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgb(101, 14, 194);
  color: #fff;
  padding: 20px;
}
  
  footer ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer li {
    margin-right: 20px;
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }

  footer a:hover {
    text-decoration: underline;
  }
  